body {
  margin: 0;
  /* background-color: lightgrey; */
}
main {
  min-height: 85vh;
}

h4 {
  padding-top: 1rem;
}

.ratingStars span {
  margin: 0.1rem;
}
.ratingStars .review {
  margin: 1rem;
}

.header .ml-auto .nav-link:hover {
  color: lightgray;
}
